* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

/* 
rem -> baseado no tamanho da fonte 
fr -> fracao de tela
*/

.content {
   padding: 1rem;
   background-color: white;
   height: 100vh;
   width: 100vw;
}

/* .content h1{
    margin: 0;
    padding-bottom: 1rem;
} */

/*
media query -> responsividade de acordo com o tamanho min da tela, reescrever menos codigo css
screens -> programar sempre para a menor tela, e reescrever apenas o necessario para os outros tamanhos de tela com o media query
margin auto -> deixa proporcional a margem, consequentemente centraliza o conteudo
*/

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}


